/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #0f172a; /* Warna latar gelap */
    color: #e2e8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.kartu-profil {
    background-color: #1e293b;
    border-radius: 16px;
    padding: 40px;
    max-width: 500px;
    width: 100%;
    border: 1px solid #334155;
}

h1 {
    font-size: 28px;
    color: #ffb6c1; /* Pink */
    margin-bottom: 6px;
}

.tagline {
    color: #94a3b8;
    font-size: 14px;
    margin-bottom: 24px;
}

h2 {
    font-size: 16px;
    color: #ffb6c1;
    margin: 20px 0 8px; 
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul {
    padding-left: 20px;
    line-height: 1,8;
}

.kontak {
    margin-top: 24px;
    padding: 12px;
    background: #ffb6c1;
    border-radius: 8px;
    font-size: 14px;
    color: #334155;
}

a {
    margin-top: 24px;
    padding: 12px;
    background: #ffb6c1;
    border-radius: 8px;
    font-size: 14px;
    color: #334155;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.kartu-profil :hover {
    border-color: #ffb6c1;
    transition: boarder-color 0.3s ease;
}
